.otro-blockquote{
    font-size: 1em;
    width:100%;
    margin:50px auto;
    font-family:Open Sans;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #f7df1e ;
    line-height:1.6;
    position: relative;
    background:#6e6e6e;
  }
  
  .otro-blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#f7df1e;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
  
  