.main {
  position: relative;
  height: 100vh;
  background-color: #5c5470;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: var(--scrollbar-width);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content {
  padding: 20px;
  max-width: 500px;
}

.first-color {
  background: #dbd8e3;
}

.second-color {
  background: #5c5470;
}

.third-color {
  background: #352f44;
}

.fourth-color {
  background: #2a2438;
}
