.stats{
  min-height: 100vh;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.stats h1 {
  background: #FFFFFF;
  background: linear-gradient(to right, #FFFFFF 0%, #2575FC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stats::before{
  content: '';
  position: absolute;
  top: -20%;
  left: 20%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 600px;
  transform: rotate(-45deg);
  width: 400px;
  opacity: 0.5;
  background-image: linear-gradient(to right, #000 10%, #2575fc 100%);    
  filter: blur(45px);
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 110vh;
  min-height: 100vh;

}

.content{
  position: absolute;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  max-width: 50%;

}
